
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Street</th>
          <th scope="col">Address_2</th>
          <th scope="col">Address_3</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Postal Code</th>
          <th scope="col">Country</th>
          <th scope="col">Phone</th>
          <th scope="col">Website</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let Table of TableList; index as i">
          <th scope="row">{{i+1}}</th>
          <td>
            {{ Table.name }}
          </td>
          <td>
            {{ Table.street }}
          </td>
          <td>
            {{ Table.address_2 }}
          </td>
          <td>
            {{ Table.address_3 }}
          </td>
          <td>
            {{ Table.city }}
          </td>
          <td>
            {{ Table.state }}
          </td>
          <td>
            {{ Table.postal_code }}
          </td>
          <td>
            {{ Table.country }}
          </td>
          <td>
            {{ Table.phone }}
          </td>
          <td>
            {{ Table.website_url }}
          </td>
        </tr>
        </tbody>
      </table>
